.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 20px;
  padding: 10px;
}

.grid img {
  border: 1px solid;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid figure {
  margin: 0;
}

.center_image {
  display: block;
  margin: 0 auto;
}
:root {
  --card-bg-color: #121212;
  --card-info-bg-color: rgba(0, 0, 0, 0.5);
  --card-info-bg-color-hover: rgba(0, 0, 0, 0.85);
}

.card {
  position: relative;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
}

.card > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card > .info {
  background-color: var(--card-info-bg-color);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 15px;

  transform: translateY(100%);
  transition: transform 0.4s ease, background-color 0.4s ease;
}
.card > .info a + a::before {
  background-color: var(--page-text-color);
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}
.card:hover > .info {
  transform: translateY(0);
  background-color: var(--card-info-bg-color-hover);
}

@media (max-width: 720px) {

  .card > .info {
    position: relative;
    transform: none;
    background-color: rgba(0,0,0,0.7);
  }

}

@media (max-width: 480px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {

  .projects-list > li {
    margin-bottom: 40px;
  }

  .card {
    border-radius: 6px;
  }

  .card > .info h3 {
    font-size: 1rem;
  }

}