.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1px));
}
.grid img {
  border: 1px solid;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  max-width: 100%;
}
.grid figure {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: 10px;
  margin-inline-end: 10px;
}

.grid figure figcaption {
  text-align: center;
}

.box {
  width: 100px;
  height: 100px;
}

.center_image {
  margin: auto;
  margin-left: auto;
  margin-right: auto;
}

:root {
  --card-bg-color: #121212;
  --card-info-bg-color: rgba(0, 0, 0, 0.5);
  --card-info-bg-color-hover: rgba(0, 0, 0, 0.85);
}

.card {
  background-color: var(--card-bg-color);
  border-radius: 8px;
  cursor: default;
  display: flex;
  flex: 0 0 auto;
  height: auto;
  margin: 10px 10px 0 0;
  position: relative;
  width: 720px;
  margin-left: auto;
  margin-right: auto;
}
.card.large {
  height: auto;
  min-height: 220px;
  width: calc(100% - 10px);
}
.card > img {
  border-radius: inherit;
  height: 100%;
  object-fit: contain;
  width: 100%;
}
.card > .info {
  background-color: var(--card-info-bg-color);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: inherit;
  border-bottom-left-radius: inherit;
  bottom: 0;
  box-sizing: border-box;
  display: block;
  font-size: 0.9em;
  min-height: 34px; /* both min- and max-height needed for CSS transition! */
  max-height: 34px;
  left: 0;
  margin: 0;
  overflow: hidden;
  padding: 5px 10px;
  position: absolute;
  transition: all 0.4s ease 0s;
  width: 100%;
}
.card > .info > .description {
  margin: 16px 0;
}
.card > .info > h3 {
  display: block;
  height: 24px;
  line-height: 24px;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
.card > .info a + a::before {
  background-color: var(--page-text-color);
  border-radius: 100%;
  content: "";
  display: inline-block;
  height: 6px;
  margin: 0 8px 0 0;
  width: 6px;
}
.card:hover > .info {
  background-color: var(--card-info-bg-color-hover);
  border-radius: inherit;
  min-height: 100%;
  max-height: 100%;
}
.card:hover > .info > h3 {
  height: auto;
  line-height: initial;
  text-overflow: initial;
  white-space: normal;
}

@media screen and (max-width: 720px) {
  .top {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
  }
  .category {
    width: 100%;
  }
  .card,
  .card.large {
    height: 300px;
    margin: 10px 0 0 0;
    width: 100%;
  }
  .card:hover .info {
    overflow-y: scroll;
  }
}
