.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 20px;
  padding: 10px;
}

.grid img {
  border: 1px solid;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid figure {
  margin: 0;
}

.center_image {
  display: block;
  margin: 0 auto;
}
:root {
  --card-bg-color: #121212;
  --card-info-bg-color: rgba(0, 0, 0, 0.5);
  --card-info-bg-color-hover: rgba(0, 0, 0, 0.85);
}

.card {
  background-color: var(--card-bg-color);
  border-radius: 8px;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.card > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card > .info {
  background-color: var(--card-info-bg-color);
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  transition: max-height 0.4s ease, background-color 0.4s ease;
  max-height: 40px;
  overflow: hidden;
}
.card > .info a + a::before {
  background-color: var(--page-text-color);
}
.card:hover > .info {
  background-color: var(--card-info-bg-color-hover);
  min-height: 100%;
  max-height: 100%;
}

@media (max-width: 720px) {

  .card > .info {
    position: relative;
    max-height: none;
  }

}

@media (max-width: 480px) {
  .grid {
    grid-template-columns: 1fr;
  }
}