ol,
ul {
  list-style: none;
}

#mainMenu {
  display: flex;
  margin: 10px;
  flex-wrap: wrap;
  gap: 15px;
  font-size: 18px;
}

#mainMenu li {
  display: block;
  margin-left: 20px;
  float: left;
}

#mainMenu a {
  display: block;
  padding: 5px 10px;
  text-decoration: none;
  background-color: rgb(0, 0, 0);
  color: rgb(62, 198, 240);
  float: left;
}

#mainMenu a:hover {
  color: #fff;
}
